<p>Photo gallery</p>
<div class="grid-container">    
    <ng-container class="content" *ngFor="let photo of photoData">
        <!-- <p>{{ photo.title }}</p>
        <img [src]="photo.url" alt="{{ photo.title }}" />
        <div>{{ photo.title }}</div>
        <div>{{ photo.id }}</div>
        <div>{{ photo.url }}</div>
        <div>{{ photo.thumbnailUrl }}</div> -->
        <app-photo-item [photoData]="photo" (removeFromFav)="onRemoveFromFav($event)"></app-photo-item>
        <!-- <app-user-item [photoData]="photo" (newPhoto)="handleAddNewPhoto($event)" /> -->
    </ng-container>
</div>
<div class="page-container">    
    <ng-container *ngFor="let page of visiblePagesArr; let i = index">
        <div *ngIf="i == 0 && page != 1"><a href="photos?p={{page-1}}">Previous</a></div>
        <a href="photos?p={{page}}">{{page}}</a>
        <div *ngIf="i == visiblePagesArr.length - 1 && page < numTotalItems/itemsPerPage"><a href="photos?p={{page+1}}">Next</a></div>
    </ng-container>
</div>
