.grid-container {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
    gap: 10px;
}

.grid-item {
    border: 1px solid #ccc;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

p {
    text-transform: uppercase;
    padding: 10px;
    padding-inline-start: 40px;
}

.grid-item a {
    text-decoration: none;
}

.content a, img {
    width: 100%;
    display: block;
}

.button-container {
    margin-top: auto;
}


