<div [ngClass]="'photo-item-box'">
    <h2>Photo /item/ #{{photoData.id}}</h2>   
    
    <img [src]="photoData.thumbnailUrl"/>
    <button (click)="showPhotoDetails()">
        <mat-icon color="primary">info</mat-icon>
    </button>
    <ng-container *ngIf="!isFavourite">
        <!-- <button (click)="handleAddToFavs()" [disabled]="isFavourite">Add Favorite</button> -->
        <button mat-mini-fab (click)="handleAddToFavs()" [disabled]="isFavourite">
            <mat-icon>favorite</mat-icon>
        </button>
    </ng-container>
    <ng-container *ngIf="isFavourite">
        <a href="favourites"><mat-icon>favorite</mat-icon></a>             
    </ng-container>
</div>