<div [ngClass]="'photo-item-box'">
    <p>Photo /item/ #{{photoData.id}}</p>
    
    <img [src]="photoData.thumbnailUrl" alt="Photo thumbnail"/>
    
    <div class="button-container">
        <button mat-button (click)="showPhotoDetails()">
            <mat-icon color="primary">info</mat-icon>
        </button>
        <ng-container *ngIf="!isFavourite">
            <button mat-button color="primary" (click)="handleAddToFavs()" [disabled]="isFavourite">
                Add<mat-icon>favorite_border</mat-icon>
            </button>
        </ng-container>
        <ng-container *ngIf="isFavourite">
            <a mat-button href="favourites" color="accent">
                <mat-icon>favorite</mat-icon>
            </a>             
        </ng-container>
    </div>
    
</div>