<h1>Photo details page</h1>

    <ng-container *ngIf="loading">
        <p>Loading ...</p>
    </ng-container>

<div>   
    <ng-container *ngIf="photo">        
        <p>Title: {{ photo['title'] }}</p>
        <p>ID: {{ photo['id'] }}</p>
        <div>
            <img [src]="photo['url']" alt="{{photo['title']}}"/>
            Url: {{ photo['url'] }}</div>
        <p>Just a pretty json: {{photo | prettyPhoto}}</p>
        <p>Is Favourite: {{ photo['isFavourite'] }}</p>
        <!-- <ng-container *ngIf="!isFavourite">
            <button (click)="handleAddToFavs()">Add Favorite</button>
            <button mat-icon-button (click)="handleAddToFavs()">
                <mat-icon>Favourite</mat-icon>
            </button>
        </ng-container>   -->
    </ng-container>
</div>


